* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  text-align:center;
  font-family: 'Noto Sans en', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

.name {
  margin: 20px;
}

/*.nav {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  list-style-type: none;
  margin: 0 auto;
  padding: 45px 5% 0 5%;
  font-size: 18px;
}*/

.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  text-align: left;
}

.main-nav ul {
  display: flex;
  list-style: none;
  position: relative;
}

.main-nav ul li {
  padding: 1rem 2rem;
  width: 50px 50px 50px 50px;
  height: 20px;
}

.intro-text p {
  padding: 30px;
  text-align: left;
}


@media screen and (min-width: 768px) {
  .main-nav {
    flex-direction: row;
  }
}

header {
  display: flex;
}

header .profile-text {
  width: 50%;
}
header .profile-img {
  width: 50%;
}

/*.card {
  padding: 50px;
}*/

.main flex {
  display: flex;
}
main .images {
  width: 300px;
  margin-top: 70px;
}

h3 {
  margin: 20px;
}

p {
  text-align: center;
}