* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  text-align:center;
  font-family: 'Noto Sans en', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

.name {
  margin: 20px;
}

.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  text-align: left;
}

.main-nav ul {
  display: flex;
  list-style: none;
  position: relative;
}

.main-nav ul li {
  padding: 1rem 2rem;
  width: 50px 50px 50px 50px;
  height: 20px;
}

.intro-text p {
  padding: 30px;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
}


@media screen and (min-width: 768px) {
  .main-nav {
    flex-direction: row;
  }
}

header {
  display: flex;
}

header .profile-text {
  width: 50%;
}
header .profile-img {
  width: 50%;
}



.main flex {
  height: 100vh;
  display: flex;
  justify-content: space-around;
}
main .images {
  width: 300px;
  margin-top: 70px;
  flex-wrap: wrap;
}

h3 {
  margin: 20px;
}

p {
  text-align: center;
}

.information {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  float: 1 1 auto;
  flex-basis: 100%;
}